// Body
$body-bg: #f8fafc;
$base-color: rgba(210, 207, 248, 1);
$base-title: rgba(20, 6, 142, 1);


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$base-font: "Abel", sans-serif;